@model Restaurante_APP.Models.Menu

@{
    ViewBag.Title = "Create Prato";
}

<div class="body-content">
    <div>
        <br />
        <h2>CADASTRO DE PRATO</h2>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Dados</legend>
            @using (Html.BeginForm(FormMethod.Post))
            {
                <div class="form-indent">
                    @Html.AntiForgeryToken()

                    <p>Restaurante</p>
                    @Html.DropDownList("restaurante_id", null, htmlAttributes: new { @class = "form-control"})

                    <br />
                    <p class="p-label-error">Prato</p>
                    <div class="div-error">
                        @Html.ValidationMessageFor(model => model.prato_name)
                    </div>
                    @Html.EditorFor(model => model.prato_name, new { htmlAttributes = new { @class = "form-control" } })
                                        
                    <br />
                    <p class="p-label-error">Preço</p>
                    <div class="div-error">
                        @Html.ValidationMessageFor(model => model.preco)
                    </div>
                    @Html.EditorFor(model => model.preco, new { htmlAttributes = new { @class = "form-control" } })
                   
                    <br />
                    <a class="btn btn-primary button-red" href="/Menu/Read">
                        <span class="glyphicon glyphicon-remove"> Cancelar</span>
                    </a>
                    <button type="submit" class="btn btn-primary button-green">
                        <span class="glyphicon glyphicon-floppy-disk"> Salvar</span>
                    </button>
                </div>
                }
        </fieldset>
    </div>
</div>

@section Scripts{
      @Scripts.Render("~/bundles/jqueryval")
}

