@model Restaurante_APP.Models.Menu

@{
    ViewBag.Title = "Create Prato";
}

<div>
    <br />
    <h2>CADASTRO DE PRATO</h2>
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Dados</legend>
        @using (Html.BeginForm(FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <p>Restaurante</p>
            @Html.DropDownList("restaurante_id")
            @Html.ValidationMessageFor(model => model.restaurante_id)

            <p>Prato</p>
            @Html.EditorFor(model => model.prato_name)
            @Html.ValidationMessageFor(model => model.prato_name)

            <p>Preço</p>
            @Html.TextBoxFor(model => model.preco, new { type = "text"})
            @Html.ValidationMessageFor(model => model.preco)

            <br />
            <a class="btn btn-primary button-red" href="/Menu/Read">
                <span class="glyphicon glyphicon-remove"> Cancelar</span>
            </a>
            <button type="submit" class="btn btn-primary button-green">
                <span class="glyphicon glyphicon-floppy-disk"> Salvar</span>
            </button>
        }
   
    </fieldset>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

